{
  "server": {
    "host": "0.0.0.0",
    "port": 8000,
    "log_level": "info"
  },
  "storage": {
    "type": "file",
    "file": {
      "path": "cidrs.json"
    }
  },
  "debug": false,
  "cors": {
    "enabled": true,
    "origins": ["*"]
  },
  "ui": {
    "enabled": true,
    "path": "webui/dist"
  }
}
